// lab 11 runs index jade
extends layout

block content
	h1 Lakes Data

	h2 Lakes Run with Times, Weather and Date

	.lakesRun
		for lake in lakes
			h3 Name: #{lake.name}
			p Distance: #{lake.miles} miles
			p Dates Run:
				ul
					for run in lake.runs
						li #{run.dateRun}
							ul
								li Runtime: #{run.time} minutes
								li Weather Conditions: #{run.weather}
						br
			form(action="/addRun", method="POST")
				label Add new run date
					input(name="dateRun" type="date" required)
					label Runtime (in minutes)
						input(name="time" type="text" required)
					label Weather
						input(name="weather" type="text")
						input(name="name" value="#{lake.name}" hidden)
						input(name="addRunDate" type="submit" value="Add new run")
		hr

	h2 Add Lake
		
	.addNewLake

		if error
			p(style="font-weight: bold") #{error}

		form(submit='/', method='post')
			label Name (required)
				input(name="name" type="text" required)
			br
			label How many miles is this lake run?
				input(name="miles" type="text")
			br
			label Date run (required)
				input(name="dateRun" type="date")
			label Runtime (in minutes)
				input(name="time" type="text")
			label Weather Conditions
				input(name="weather" type="text")
			br
			input(type="submit" name="addLake" value="Add new Lake")
			
	hr